@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 244, 242;
  margin: auto;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}

.bg-green-500 {
  background-color: #869781;
}

.text-white {
  color: #fff;
}

/* Classes para zerar margens e preenchimentos */
.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.bg-cardapio {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/convite-sarah-02.appspot.com/o/Kyoto%20Cozinha%20Oriental%20(1).jpg?alt=media&token=18cc9e5b-f2c6-46fa-be9f-9877733633a3");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 660px;
}

.space-cardapio {
  margin-top: 4%;
  margin-bottom: 3%;
  padding-top: 9%;
  padding-bottom: 10%;
}

.bg-doreino {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/convite-sarah-05.appspot.com/o/do-reino.jpg?alt=media&token=c0003f86-495c-4c2d-b4e3-44a514a499af");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 660px;
}

.space-doreino {
  margin-top: 4%;
  margin-bottom: 3%;
  padding-top: 9%;
  padding-bottom: 10%;
}